services:
  frontend:
    build:
      context: .
      target: dev
    ports:
      - "4000:4000"
    volumes:
      - .:/app
      - /app/node_modules
      - /app/.next
    environment:
      - NODE_ENV=development
      - WATCHPACK_POLLING=true
